{
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 100,
    "editor.formatOnSave": true,
    "overrides": [{ "files": "*.ts", "options": { "parser": "typescript" } }]
}
